@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;

    &__wrapper {
        margin-top: 60px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0px;
        padding: 0px;
    }

    &__label {
        display: block;
        color: $dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    &__input {
        width: 100%;
        height: 48px;
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid #E2E1E5;
        background: #FFF;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        &__img {
            width: 100%;
            height: 356px;
        }
    }
}